/* Importing Google Fonts and global styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Global styles for the body */
body {
  width: 100%;
  /* background: #f4f6f8 url('images/bg/bg.jpg') center/cover no-repeat; */
  background: #f4f6f8;
}

/* Global styles for links */
a {
  text-decoration: none;
}

/* Resetting default list styles */
ul {
  list-style: none;
}

/* Text selection style */
::selection {
  background: #7f71ff;
  color: #fff;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Main container */
main {
  width: 100%;
  min-height: calc(100vh - 250px);
}

/* Header styles */
header {
  width: 100%;
  /* background: linear-gradient(15deg, #4b6cb7, #182848 80%); */
  background: #fff;
  margin-bottom: 50px;
}

/* Navigation styles */
nav {
  width: 100%;
  height: 120px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
}

/* Logo styles */
nav .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(158, 188, 255);
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* Logo image styles */
nav .logo img {
  max-width: 40px;
  height: auto;
  margin-right: 10px;
}

/* Menu list styles */
nav .menu-lists {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .menu-lists li {
  position: relative;
  padding: 5px 15px;
  color: #333;
  cursor: pointer;
  margin: 3px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

nav .menu-lists li:is(:hover, .active) {
  /* background: rgba(0, 0, 0, 0.05); */
  color: #7f71ff;
  transition: all ease 0.3s;
}

/* Menu icon styles */
nav :is(.fa-bars) {
  color: #0B2446;
  font-size: 24px;
  display: none;
}

/* Submenu item styles */
.submenu-item .submenu-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.submenu-item .submenu-toggle i {
  margin-left: 5px;
}

/* Submenu styles */
.submenu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1000;
  top: calc(100% + 5px);
  left: 0;
  min-width: 200px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.submenu.open {
  display: block;
}

/* About Us styles */
.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Title styles */
.about-title {
  text-align: center;
  color: #4362AB;
}

/* Antique title styles */
.antique-title {
  color: #FF0000;
}

/* Paragraph styles */
.about-us p {
  text-align: justify;
  margin-bottom: 20px;
}

/* About Image styles */
.about-image {
  text-align: center;
  margin: 20px 0;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

/* Responsive styles for About Us */
@media (max-width: 600px) {
  .about-us {
    padding: 10px;
  }

  .about-us p {
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
  }
}

/* Posts Container styles */
.posts-container {
  width: 95%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Post Box styles */
.posts-box {
  width: 160%;
  margin: 0 auto; /* Center the posts horizontally */
  padding: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Responsive styles for Posts Container on Tablet */
@media (max-width: 767px) {
  .posts-box {
    width: 90%;
    margin: 0 auto; /* Center the posts on smaller screens */
    margin-bottom: 20px; /* Keep the same margin for smaller screens */
  }
}

/* Post Image styles */
.posts-img {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
}

/* Post Image inner image styles */
.posts-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: filter 0.3s ease;
}

/* Hover effect for Post Image */
.posts-img:hover img {
  filter: brightness(0.8);
}

/* Categories styles */
.posts-img .categories {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  gap: 5px;
}

.posts-img .categories .category {
  padding: 5px 10px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #4362AB;
  border-radius: 10px;
}

/* Post Text styles */
.posts-text h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #333;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.3;
  transition: color 0.3s ease;
}

/* Hover effect for Post Text */
.posts-text h3:hover {
  color: #7f71ff;
}

.posts-text {
  text-align: center;
}

.posts-text .category-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 500;
}

.posts-text .category-time .published-time {
  color: #888;
}

.posts-text .excerpt {
  font-size: 1rem;
  color: #666;
}

/* Blue icon styles */
.blue-icon {
  color: #7f71ff;
}

/* Two-column layout styles */
.two-column-layout {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Left column styles */
.left-column {
  flex: 2;
  max-width: 70%;
  padding-right: 250px;
  margin-left: 40px;
  position: relative;
}

/* Right column styles */
.right-column {
  flex: 1;
  max-width: 30%;
  padding-left: 75px;
  margin-right: 40px;
  position: sticky;
  top: 0;
}

/* Responsive styles for Two-column layout */

@media (max-width: 1024px) {
  .two-column-layout {
    flex-direction: column;
  }

  .left-column, .right-column {
    max-width: 100%;
    padding: 0;
  }
}

/* Continue Reading button styles */
.continue-reading {
  text-align: center;
  margin-top: 10px;
  border: 2px solid #7f71ff;
  border-radius: 5px;
  padding: 5px 10px;
  color: #7f71ff;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 170px;
  margin: 20px auto;
}

.continue-reading:hover {
  background-color: #7f71ff;
  color: #fff;
}

/* Responsive styles for Posts Container on Tablet */

@media (max-width: 767px) {
  .posts-box {
    width: 90%;
    margin: 0 auto; /* Center the posts on smaller screens */
    margin-bottom: 20px; /* Reduce the margin for smaller screens */
  }
}

@media (max-width: 767px) {
  .posts-container {
    grid-gap: 10px; /* Adjust the grid gap for mobile devices */
  }
}

/* Responsive styles for Two-column layout */
@media (max-width: 1024px) {
  .two-column-layout {
    flex-direction: column;
  }

  .left-column, .right-column {
    max-width: 100%;
    padding: 0;
  }
}


/* Weather Forecast styles for laptops and larger screens */
.weather-forecast {
  display: none; /* Hide by default on all screens */
  width: 100%;
  background-color: #7f71ff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 440px;
}

.weather-forecast h2 {
  font-size: 1.5rem;
  color: #f7f7f7;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.weather-forecast h2 img {
  max-width: 40px;
  margin-right: 10px;
}

.weather-forecast p {
  font-size: 1.1rem;
  color: #f7f7f7;
  margin-bottom: 12px;
}

.weather-forecast img {
  max-width: 80px;
  height: auto;
  display: block;
  margin-top: 10px;
}

/* Media Query for laptops and larger screens */
@media (min-width: 1024px) {
  .weather-forecast {
    display: block; /* Display on laptops and larger screens */
  }
}

/* Share Media Button styles */
.share-button {
  margin-top: 10px;
  display: inline-block;
}

.share-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dark-bg {
  background-color: #7f71ff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.dark-bg:hover {
  background-color: #ff695e;
}

/* Search styles */
.search {
  width: 95%;
  margin: 20px auto;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 10px;
  font-size: 0.85rem;
}

.search button {
  border: none;
  outline: none;
  background: #7f71ff;
  width: 20%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 0 4px 4px 0;
}

/* Article Container */
.article-container {
  width: 75%;
  margin: 0 auto;
}

/* Post Box */
.post-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 30px; 
}

.post-box .title {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color: #182848;
}

.post-box .published-time {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #838eab;
}

.post-box .published-time i {
  margin-right: 7px;
}

.post-box .content :is(img, video) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 10px 0;
}

.post-box .content :is(h1, h2, h3, h4, h5, h6, p) {
  margin: 10px 0;
  line-height: 1.8rem;
}

/* Comments Container */
.comments {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Comment Form Container */
.comment-form-container {
  width: 100%; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 2%;  /* Adjust the spacing between the comment form and published comments */
}

/* Published Comments Container */
.published-comments-container {
  width: 100%; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Comments Title */
.comments h2 {
  color: #333;
  padding: 5px 0;
}

/* Comments Form Input/Textarea Styles (No changes here) */
.comments form :is(input, textarea) {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f8f8f8;
  resize: vertical; /* Allow vertical resizing */
  max-height: 200px; /* Set a maximum height */
}

.comments form input {
  height: 50px;
}

.comments form .check {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.comments form .check input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.comments form button {
  display: block;
  border: none;
  outline: none;
  background: #7f71ff;
  padding: 10px 30px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Add a smooth transition */
}

.comments form button:hover {
  background: #ff695e; /* Change the background color to pink on hover */
}

/* Comments Content Styles */
.comments .content {
  margin-top: 20px;
  background: #7f71ff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.comments .content strong {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.comments .content p {
  font-size: 1rem;
  margin-top: 3px;
}

.comments .content i {
  margin-right: 5px;
}

/* Responsive styles for mobile screens */
@media (max-width: 767px) {
  /* Allow items to wrap to the next row on smaller screens */
  .comments {
    flex-wrap: wrap;
  }
  
  /* Adjust the width and spacing for comment form and published comments */
  .comment-form-container,
  .published-comments-container {
    width: 100%; /* Use full width on small screens */
    margin-bottom: 20px; /* Add spacing between comment form and published comments */
  }
}

/* Pagination styles */
.pagination {
  width: 95%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.pagination .prev-next {
  text-transform: capitalize;
  cursor: pointer;
  color: #182848;
  font-weight: 500;
  transition: all 0.3s linear;
}

.pagination .prev-next i {
  font-size: 0.85rem;
}

.pagination .numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.pagination .numbers li {
  color: #182848;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.pagination .numbers li:is(:hover, .active) {
  background: #182848;
  color: #fff;
}

/* Add these media queries to your 'index.css' file */

/* Mobile devices (portrait and landscape) */
@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-illustration {
    order: 2; /* Move illustration below the form */
    text-align: center; /* Center the image */
    margin-bottom: 20px; /* Add some spacing between the form and the image */
  }

  .contact-form {
    order: 1; /* Move the form above the illustration */
  }

  /* Adjust the form group margins and input/textarea sizes for mobile */
  .form-group {
    margin-bottom: 10px;
  }

  input,
  textarea {
    padding: 8px;
    font-size: 14px;
  }

  button {
    padding: 8px 15px;
  }
}

/* Footer styles */
footer {
  background: #fff;
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  padding: 20px 0;
  position: relative;
  text-align: center;
  margin-top: 50px;
}

/* Updated CSS for the footer */
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.footer-social a {
  width: 35px;
  height: 35px;
  color: #667498;
  border: 1.5px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social a:hover {
  color: #7f71ff;
  border-color: #7f71ff;
  transition: all 0.3s ease;
}

.footer-text {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 10px;
}

.author {
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
}

.the-team-link {
  color: #7f71ff;
  align-items: center;
  display: flex;
}

/* Media Query for Privacy Policy link on mobile screens */

@media (max-width: 768px) {
  .the-team-link {
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
}

/* Menu Bar Media Query for mobile screens */

@media (max-width: 750px) {
  nav .fa-bars {
    display: block;
  }

  nav .menu-lists {
    position: fixed;
    top: 0px;
    left: 0;
    /* right: -50%; Initially off-screen to the right */
    width: 70%;
    height: 100vh;
    z-index: 100;
    /* background: linear-gradient(15deg, #4b6cb7, #182848 80%); */
    background: #7f71ff;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    overflow-y: scroll;
    transition: right 0.3s ease-in-out; /* Added transition for smooth animation */
  }

  /* nav .fa-xmark {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  } */

  header #menu-btn:checked ~ nav .menu-lists {
    display: flex;
  }

  nav .menu-lists ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding for ul */
  }

  nav .menu-lists li {
    margin: 5px 0; /* Reduced the margin to make spacing smaller */
    padding: 0; /* Remove padding for li */
  }

  .submenu-item .submenu-toggle i {
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  .submenu.open .submenu-toggle i {
    transform: rotate(180deg);
  }

  .submenu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

